<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>{% block title %}食品碳足跡計算器{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>食品碳足跡計算</h1>
        <nav>
            <ul>
                <li><a href="{% url 'search_food' %}" class="{% if request.path == '/migrate/search/' %}active{% endif %}">首頁</a></li>
                <li><a href="{% url 'about' %}" class="{% if request.path == '/migrate/about/' %}active{% endif %}">關於</a></li>
                <li><a href="{% url 'view_wishlist' %}" class="{% if request.path == '/migrate/wishlist/' %}active{% endif %}">願望清單列表</a></li>
                <li><a href="{% url 'food_list' %}" class="{% if request.path == '/migrate/food_list/' %}active{% endif %}">已有食物列表</a></li>
                <li><a href="{% url 'total_carbon' %}" class="{% if request.path == '/migrate/total_carbon/' %}active{% endif %}">目前總碳足跡</a></li> <!-- 新增這行 -->
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>版權所有 © 2024</p>
    </footer>
</body>
</html>
